<a id="home"></a>
<header>
  <%= render "partials/navbar/base" %>
</header>

<%= render "partials/home/base" %>

<%= render "partials/services/base" %>

<%= render "partials/tools/base" %>

<%= render "partials/work/base"%>