<h3>Message submission confirmation from <a href="www.itech.io" taget="_blank">www.itech.io</a></h3>

<b>Name:</b> <%= @message.name %><br />

<b>Email:</b> <%= @message.email %><br />

<b>Phone:</b> <%= @message.phone %><br />

<b>Company:</b> <%= @message.company %><br />

<b>Message:</b><br /> <%= @message.body %>